<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yssy.dao.CourseDao">
	
	<cache type="com.yssy.redis.RedisCache"/>
	
	<!-- 添加课程的方法 -->
	<insert parameterType="course" id="add">
		insert into course values(null,#{courseTitle},#{courseDesc},#{subjectId}) 
	</insert>
	
	<!-- 通过id删除 -->
	<delete id="deleteAll">
		delete from course where course_id in
		<foreach collection="array" item="courseId" separator="," open="(" close=")">
		#{courseId}
		</foreach>
	</delete>
	
	<!-- 更新课程 -->
	<update parameterType="course" id="update">
		update course
		<trim prefixOverrides="," prefix="set">
			<if test="courseTitle!=null"> course_title=#{courseTitle} </if>
			<if test="courseDesc!=null"> , course_desc=#{courseDesc}</if>
			<if test="subjectId!=null"> , subject_id=#{subjectId}</if>
		</trim>
		where course_id = #{courseId} 
	</update>
	
	<!-- 设置映射 -->
	<resultMap id="courseMap" type="course">
		<id property="courseId" column="course_id"/>
		<result property="courseTitle" column="course_title"/>
		<result property="courseDesc" column="course_desc"/>
		<result property="subjectId" column="subject_id"/>
		<!-- 用来指定单个对象 -->
		<association property="subject" javaType="com.yssy.model.Subject">
			<id column="subject_id" property="subjectId"/>
			<result column="subject_name" property="subjectName"/>
		</association>
		<!-- 用来指定集合 -->
		<collection property="videooList" ofType="com.yssy.model.Videoo">
			<id property="videooId" column="video_id"/>
			<result property="title" column="title"/>
			<result property="detail" column="detail"/>
			<result property="time" column="time"/>
			<result property="speakerId" column="speaker_id"/>
			<result property="courseId" column="course_id"/>
			<result property="videoUrl" column="video_url"/>
			<result property="imageUrl" column="image_url"/>
			<result property="playNum" column="play_num"/>
		</collection>
	</resultMap>
	
	<!-- 查询全部 -->
	<select id="selectAll" resultMap="courseMap">
		select * from course c,subject s where c.subject_id=s.subject_id
		<if test="courseId!=null">and c.course_id=#{courseId}</if>
	</select>
	
	
	<!-- 动态模糊查询 -->
	<select id="selectLikeAll" resultMap="courseMap"> 
		select * from course c,subject s where c.subject_id=s.subject_id
		<if test="courseId!=null">
			<bind name="courseId" value="'%'+courseId+'%'"/>
			and c.course_id like #{courseId}
		</if>
		<if test="courseTitle!=null">
			<bind name="courseTitle" value="'%'+courseTitle+'%'"/>
			and c.course_title like #{courseTitle}
		</if>
		<if test="courseDesc!=null">
			<bind name="courseDesc" value="'%'+courseDesc+'%'"/>
			and c.course_desc like #{courseDesc}
		</if>
	</select>
	
	<!-- 查询课程+视频 -->
	<select id="selectCourseAndVideoo" resultMap="courseMap">
		select * from course c left join video v on c.course_id = v.course_id and c.video_id=#{videooId}
	</select>
</mapper>